{{extend '../layouts/layout.html'}}

{{block 'body'}}
<div class="page-title">
    <h1>修改栏目</h1>
</div>
<!-- 有错误信息时展示 -->
<!-- <div class="alert alert-danger">
      <strong>错误！</strong>发生XXX错误
    </div> -->
<div class="row">
    <div class="col-md-4">
        <form action="/admin/cate/modifycate" method="post">
            <h2>修改栏目信息</h2>
            <div class="form-group">
                <label for="name">编号</label>
                <input id="name" class="form-control" name="id" type="text" value="{{cate_id}}" readonly>
            </div>
            <div class="form-group">
                <label for="name">栏目名称</label>
                <input id="name" class="form-control" name="name" type="text" value="{{cate_name}}">
            </div>
            <div class="form-group">
                <label for="icon">栏目图标</label>
                <input id="icon" class="form-control" name="icon" type="text" value="{{cate_icon}}">
            </div>
            <div class="form-group">
                <label for="icon">创建时间</label>
                <input id="icon" class="form-control" name="time" type="text" value="{{cate_addtime}}">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">修改</button>
            </div>
        </form>
    </div>

</div>
</div>
{{/block}}

{{block 'js'}}
<script>
    $('.btn').click(function () {
        $.ajax({
            url: '/admin/cate/modifycate',
            dataType: 'json',
            type: 'post',
            success: function (msg) {
                console.log(msg)
                if (msg.code === 200) {
                    alert('修改成功');
                    location.href = '/admin/cate/cate';
                } else {
                    alert('修改失败');
                }
            }
        });
    })
</script>
{{/block}}