{{extend '../layouts/layout.html'}}

{{block 'body'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>图片轮播</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <div class="row">
    <div class="col-md-4">
      <form>
        <h2>添加新轮播内容</h2>
        <div class="form-group">
          <label for="image">图片</label>
          <!-- show when image chose -->
          <img class="help-block thumbnail" style="display: none">
          <input id="image" class="form-control" name="image" type="file">
          <input id="image_hidden" type="hidden" name="image_hidden">
        </div>
        <div class="form-group">
          <label for="text">文本</label>
          <input id="text" class="form-control" name="text" type="text" placeholder="文本">
        </div>
        <div class="form-group">
          <label for="link">链接</label>
          <input id="link" class="form-control" name="link" type="text" placeholder="链接">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="botton" id="add">添加</button>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <div class="page-action">
        <!-- show when multiple checked -->
        <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40"><input type="checkbox"></th>
            <th class="text-center">图片</th>
            <th>文本</th>
            <th>链接</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
{{/block}}

{{block 'js'}}
<script src="/assets/vendors/art-template/template-web.js"></script>
<script type="text/html" id="tpl">
{#each data value#}
<tr>
    <td class="text-center"><input type="checkbox"></td>
    <td class="text-center"><img class="slide" src="{#value.pic_url#}"></td>
    <td>{#value.pic_text#}</td>
    <td>{#value.pic_link#}</td>
    <td class="text-center">
      <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
    </td>
</tr>
{#/each#}
</script>
<script type="text/html" id="addPic">
  <tr>
      <td class="text-center"><input type="checkbox"></td>
      <td class="text-center"><img class="slide" src="{#data.pic_url#}"></td>
      <td>{#data.pic_text#}</td>
      <td>{#data.pic_link#}</td>
      <td class="text-center">
        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
      </td>
  </tr>
  </script>
<script>
  // 修改模板的边界
  template.defaults.rules[1].test = /{#([@#]?)[ \t]*(\/?)([\w\W]*?)[ \t]*#}/;
  // 获取后台的图片数据
  $.ajax({
    url: ' /api/other/slides',
    type: 'post',
    dataType: 'json',
    success: function (msg) {
      // console.log(msg)
      //通过模板引擎从后台请求的数据渲染到页面
      $('tbody').html(template('tpl', msg));
    }
  })
  // 文件域上注册change事件，获取选中的文件对象，发送ajax请求
  $('#image').change(function () {
    // 选择图片应该先获取dom对象
    var fileObj = $(this)[0].files[0];
    // 实例化FormData对象
    var fd = new FormData();
    // 将获取到的dom对象追加到FormData对象中
    fd.append('avatar', fileObj);

    // 发送ajax
    $.ajax({
      url: '/api/uploads',
      type: 'post',
      data: fd,
      contentType: false,
      processData: false,
      dataType: 'json',
      success: function (msg) {
        // console.log(msg)
        // alert(msg.message)
        //将上传图片的路径写入img标签和隐藏域中
        $('.thumbnail').attr('src', msg.path).show();
        $('#image_hidden').val(msg.path);
      }
    })
  })
  // 给添加按钮注册点击事件，发送ajax请求
  $('#add').click(function () {
    // 发送ajax
    $.ajax({
      url: '/admin/other/addSildes',
      type: 'post',
      data: $('form').serialize(),
      dataType: 'json',
      success: function (msg) {
        console.log(msg);
        alert(msg.message);
        $('tbody').append(template('addPic', msg));
        // var appendStr = template('addPic', msg);
        // $('tbody').append(appendStr);
      }
    });
  });

</script>
{{/block}}