{{extend '../layouts/layout.html'}}
{{block 'css'}}
<style>
  label.error {
    color: red;
    font-size: 16px;
  }
</style>
{{/block}}
{{block 'body'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>修改密码</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
      <strong>错误！</strong>发生XXX错误
    </div> -->
  <form class="form-horizontal">
    <div class="form-group">
      <label for="old" class="col-sm-3 control-label">旧密码</label>
      <div class="col-sm-7">
        <input id="old" class="form-control" name="oldpwd" type="password" placeholder="旧密码">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">新密码</label>
      <div class="col-sm-7">
        <input id="password" class="form-control" name="newpwd" type="password" placeholder="新密码">
      </div>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
      <div class="col-sm-7">
        <input id="confirm" class="form-control" name="newpwd2" type="password" placeholder="确认新密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn updatePwd btn-primary">修改密码</button>
      </div>
    </div>
  </form>
</div>
{{/block}}

{{block 'js'}}
<script src="/assets/vendors/validation/dist/jquery.validate.min.js"></script>
<script>

  // 调用validate函数验证表单
  $('form').validate({
    // 配置验证规则
    rules: {
      newpwd: {
        required: true,
        rangelength: [6, 16],
      },
      newpwd2: {
        // 验证两个字段的值是否一样
        equalTo: $('#password')
      }
    },
    // 配置未通过验证时的提示信息
    messages: {
      newpwd: {
        requird: '密码不能位空',
        rangelength: '密码必须是6-12位之间'
      },
      newpwd2: {
        equalTo: '两次密码不一致'
      }
    },
    submitHandler: function () {
      // 1、获取修改按钮注册点击事件
      // 2、发送ajax请求
      $.ajax({
        url: '/api/center/passwd',
        type: 'post',
        data: $('form').serialize(),
        dataType: 'json',
        success: function (msg) {
          console.log(msg);
          alert(msg.message);
          location.href = '/admin/center/profile';
        }
      });
    }
  });


</script>
{{/block}}